{{!-- wate.html --}}
{{#extend "layout"}}
    {{#content "header"}}
        <script src=""></script>
    {{/content}}
    {{#content "main" mode="append"}}
        <div class="row">

        </div>
    {{/content}}
    {{#content "right"}}
        <p>this is right</p>
    {{/content}}
    {{#content "footer" mode="prepend"}}

        <script>

        </script>
    {{/content}}
{{/extend}}