{{!-- wate.html --}}
{{#extend "layout"}}
    {{#content "header"}}
        <script></script>
    {{/content}}
    {{#content "main" mode="append"}}
        <div>{{count}}条采样记录进行CRC32处理后，进行取余处理</div>
        <div class="row">
        <!--{{#each list}}-->
            <!--<div class="col-lg-12">-->
                <!--<span>{{this.key}}</span>-->
                <!--<span>{{this.value}}</span>-->
            <!--</div>-->
        <!--{{/each}}-->
        </div>
        <div id="chartmain" style="width:1024px; height: 768px;"></div>
    {{/content}}
    {{#content "right"}}
        <p></p>
    {{/content}}
    {{#content "footer" mode="prepend"}}
        <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
        {{#renderJson axis 'abTestObj'}}
        {{/renderJson}}
        <script>
            console.log(abTestObj);
            //指定图标的配置和数据
            var option = {
                color: ['#3398DB'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : abTestObj.X,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'直接访问',
                        type:'bar',
                        barWidth: '60%',
                        data:abTestObj.Y
                    }
                ]
            };

            //初始化echarts实例
            var myChart = echarts.init(document.getElementById('chartmain'));

            //使用制定的配置项和数据显示图表
            myChart.setOption(option);
        </script>
    {{/content}}
{{/extend}}